<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body ng-app="redNg">

<div class="col-xs-12" style="height:100px; background-color: purple;"></div>

<div class="container">
	<div class="row">
	  <div class="col-lg-6 col-md-offset-3">

	  	<h3><span class="label label-default">Add your post here <i class="fa fa-hand-spock-o" aria-hidden="true"></i></span></h3>

	    <div ng-controller="postCtrl">

		    <div ng-repeat="post in postObj | orderBy: '-like' track by $index" ng-init="post.like" class="postList">
		    	<div class="well well-sm">
		    	<button type="submit" value="show" ng-click="post.like = post.like+1" class="btn"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
		  		{{post.like}} {{post.postText}}
		  		</div>
		  	</div>
	  		
	  		<div class="input-group">
			     <input type="text" ng-model="newPost" class="form-control" placeholder="Your new post here!">
			     <span class="input-group-btn">
			     	<button class="btn btn-primary" type="submit" value="show" ng-click="showTwoWay()">Post</button>
			     </span>

	      	</div>

	    </div>

	  </div>
	</div>
</div>


<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/handlebars/dist/handlebars.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>